<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.19.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
  <div class="grid h-screen place-items-center">
    <div class="card w-112 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Some Process</h2>
        <ul class="steps">
          {% for name, value in states.items() %}
          <li id="step_{{ value }}" class="step">{{ name }}</li>
          {% endfor %}
        </ul>
        <div class="card-actions justify-end">
          <button id="reset" class="btn btn-disabled" hx-get="/reset" hx-swap="none">
            Reset
          </button>
          <button id="start" class="btn btn-primary btn-disabled" hx-get="/start" hx-swap="none">
            Start
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  let startBtn = document.getElementById("start");
  let resetBtn = document.getElementById("reset");

  // disable startBtn, resetBtn on click
  [startBtn, resetBtn].forEach(btn => {
    btn.addEventListener("click", () => {
      btn.classList.add("btn-disabled");
    });
  });

  let source = new EventSource("/get-state");
  source.onmessage = function (event) {
    const steps = document.querySelectorAll(".step");
    steps.forEach(function (step) {
      if (step.id.replace("step_", "") <= event.data) {
        step.classList.add("step-primary");
      } else {
        step.classList.remove("step-primary");
      }
    });

    switch (event.data) {
      case "1":
        startBtn.classList.remove("btn-disabled");
        resetBtn.classList.add("btn-disabled");
        break;
      case "5":
        startBtn.classList.remove("btn-disabled");
        resetBtn.classList.remove("btn-disabled");
        break;
      default:
        startBtn.classList.add("btn-disabled");
        resetBtn.classList.add("btn-disabled");
        break;
    }
  };
</script>

<script src="https://unpkg.com/htmx.org@1.8.0"></script>

</html>